# Gere o salt
VITE_DAILY_SECRET=
# Boolean (true|false)
VITE_FORCE_YMD=
# Supabase url
VITE_SUPABASE_URL=https://ardewtfmhzdmyjwsduoz.supabase.co
# Supabase Publishable Key
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_o_-iM-agljNj7ELaSiibxQ_a7iO5Lw2